*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
   background-color:lightblue;
}

.box{
    display: grid;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
    padding: 50px;
    font-size: 20px;
    border-radius: 20px;
    color: white; 
}
.box .text{
    color: crimson;
    margin: 50px 0px;
    font-size: 25px;
}
.clock-box{   
    display: flex;
    padding: 50px;
    font-size: 50px;
    font-weight: bold; 
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    background-color:#2c3e50;
    box-shadow: 2px 4px 10px 0 #2c3e50;
}